@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #dbe4f0, #E1EFFA);
  background-color: #E1EFFA;
  color: #444752;
  font-family: 'Mulish', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

#key {
  background-color: #E1EFFA;
  color: #AAC4D8;
  font-size: 2rem;
  padding: 35px;
  border-radius: 50%;
}

.container {
  background-color: #fff;
  padding: 50px;
  max-width: 1000px;
  text-align: center;
}

.container p {
  color: #69717d;
  font-size: 0.9rem;
  line-height: 1.5rem;
}

.code-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 40px 0;
}

.code-container input {
  font-family: inherit;
  font-weight: 200;
}

.code {
  font-size: 40px;
  height: 70px;
  width: 50px;
  border: 2px solid #eee;
  text-align: center;
  font-weight: 300;
  caret-color: transparent;
  -moz-appearance: textfield;
}

.code::placeholder {
  color: #fff;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.code:valid {
  border: .15rem solid #AAC4D8;
  color: #AAC4D8;
}

.info {
  background-color: #EAEAEB;
  display: inline-block;
  padding: 20px;
  line-height: 20px;
  width: 100%;
  color: #a19d9e;
}

@media(max-width: 600px) {
  .code-container {
    flex-wrap: wrap;
  }

  .code {
    font-size: 60px;
    height: 80px;
    max-width: 70px;
  }
}