@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #f2fafe;
  color: #80878a;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}

.panel-container {
  background-color: #fff;
  box-shadow: 0 0 15px rgba(43, 83, 129, 0.075);
  font-size: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
  max-width: 400px;
}

.panel-container img {
  width: 100%;
  height: auto;
}

.panel-container strong {
  line-height: 20px;
}

.ratings-container {
  display: flex;
  margin: 20px 0;
}

.rating {
  flex: 1;
  cursor: pointer;
  padding: 20px;
  margin: 10px 5px;
}

.rating:hover, .rating.active {
  box-shadow: 0 0 0 2px #06b1ef4d;
}

.rating small {
  color: #8bdbf7;
  display: inline-block;
  margin: 10px 0 0;
}

.rating:hover small, .rating.active small {
  color: rgb(0 157 224);
}

.btn {
  background-color: #90989b;
  color: #fff;
  box-shadow: 0 0 10px rgba(43, 83, 129, 0.075);
  border: 0;
  padding: 12px 30px;
  cursor: pointer;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.fa-heart {
  color: rgb(255, 187, 179);
  font-size: 30px;
  margin-bottom: 10px;
}

.attribute {
  color: #b3c1c5;
  font-size: .7rem;
}

.attribute a {
  text-decoration: underline;
  color: inherit;
}