@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #DCE3EF;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  margin: 0;
}


h3 {
  color: #5c6269;
  margin: 10px 0 20px;
}

.container {
  width: 450px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
  font-size: 16px;
  color: #5c6269;
}

textarea:focus {
  outline: none;
}

textarea::placeholder {
  color: #adb8c4;;
}

.tag {
  background-color: #9AB4D4;
  color: #fff;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 0 5px 10px 0;
  font-size: 15px;
  letter-spacing: 1px;
  display: inline-block;
}

.tag.highlight {
  background-color: #708098;
}